<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.ssm.mappers.empMapper">
<!--    List<Emp> getAllEmp();获得所有Emp-->
    <select id="getAllEmp" resultType="Emp">
        select * from t_emp
    </select>

<!--    addEmp(Emp emp);-->
    <update id="addEmp" >
        insert into t_emp values
    </update>

</mapper>